ExampleLinqIntegration/Service References/CodeTableService/CodeTables2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaisersEdge.API.ToolKit.Web.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaisersEdge.API.ToolKit.Web.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBaseCodeTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseCodeTable" nillable="true" type="tns:BaseCodeTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseCodeTable" nillable="true" type="tns:ArrayOfBaseCodeTable" />
  <xs:complexType name="BaseCodeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCodeTable" nillable="true" type="tns:BaseCodeTable" />
  <xs:complexType name="ArrayOfBaseTableEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseTableEntry" nillable="true" type="tns:BaseTableEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseTableEntry" nillable="true" type="tns:ArrayOfBaseTableEntry" />
  <xs:complexType name="BaseTableEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeTablesID" type="xs:int" />
      <xs:element minOccurs="0" name="DateLastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChangedByID" type="xs:int" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableEntriesID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTableEntry" nillable="true" type="tns:BaseTableEntry" />
</xs:schema>