REAPI ToolKit/ExampleLinqIntegration/Service References/RecordService/Record.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11337/Record.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaisersEdge.API.ToolKit.Web.DataContracts" />
  <xs:element name="GetConstituent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="constituentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstituentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RaisersEdge.API.ToolKit.Web.DataContracts" minOccurs="0" name="GetConstituentResult" nillable="true" type="q1:BaseRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConstituent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RaisersEdge.API.ToolKit.Web.DataContracts" minOccurs="0" name="updatedRecord" nillable="true" type="q2:BaseRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConstituentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConstituentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>